body
{
	background: teal;

}

.check-design
{
	text-align: center;
	/*border:1px solid;*/
	margin-top: 100px;
	/*padding-left: 20px;*/
	/*background-color:blue;*/
	width: 100%;
	/*box-sizing: border-box;*/

}


.back
{
	/*height: 300px;*/
	/*width: 500px;*/
	background-color: gray;
	margin: auto;

}

/*.checkBoxClass
{
text-align: justify-all;
padding-left: 20px;
}*/


label {
  /*display: block;*/
  text-indent: -15px;

}
input {
  /*width: 13px;*/
  /*height: 13px;*/
  padding: 0;
  margin:0;
  vertical-align: bottom;
  position: relative;
  top: -1px;
  left:-2px;
  /**overflow: hidden;*/
}

#pid_5
{
	left: 3px
}